*{
  font-family: "Pixel LCD7"; 
}
body{
  margin: 0;
  
}
@import url('//db.onlinewebfonts.com/c/0a33d170c03d771061d74c5124b652ff?family=Pixel+LCD7');
@font-face {
  font-family: "Pixel LCD7"; 
  src: url("//db.onlinewebfonts.com/t/0a33d170c03d771061d74c5124b652ff.eot"); 
  src: url("//db.onlinewebfonts.com/t/0a33d170c03d771061d74c5124b652ff.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0a33d170c03d771061d74c5124b652ff.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0a33d170c03d771061d74c5124b652ff.woff") format("woff"), url("//db.onlinewebfonts.com/t/0a33d170c03d771061d74c5124b652ff.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0a33d170c03d771061d74c5124b652ff.svg#Pixel LCD7") format("svg"); 
}

/* .why{
  color: rgb(255, 0, 119);
} */